<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/component/navigation.css" rel="stylesheet">
  <link href="/css/component/breadcrumb.css" rel="stylesheet">
  <link href="/css/pages/banner.css" rel="stylesheet">
  <link href="/css/common/search-form.css" rel="stylesheet">

</head>

<body>

  <div class="container">
    {{#if successMessage}}
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
    {{/if}}
    {{#if dangerMessage}}
    <div class="alert alert-danger" role="alert">
      {{dangerMessage}}
    </div>
    {{/if}}

    <div id="view-banner" style="display: block;">

      <div id="titles">
        <h5 class="mb-4">Danh sách đơn hàng</h5>
        <form id="searchForm">
          <input type="text" id="searchInput" placeholder="Nhập từ khóa..." required>
          <input type="image" src="/icons/search.png" alt="Tìm kiếm" id="searchButton">
        </form>
      </div>
      <hr class="mb-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-1">STT</th>
            <th class="col-1">Mã đơn hàng</th>
            <th class="col-1">Ngày đặt hàng</th>
            <th class="col-1">Khách hàng</th>
            <th class="col-1">Tổng tiền</th>
            <th class="col-1">Tình trạng</th>
            <th class="col-1">Tuỳ chọn</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td>{{@index}}</td> <!-- Hiển thị số thứ tự của product type -->
            <td>{{this.id}}</td>
            <td>{{this.dateOrder}}</td>
            <td>{{this.userId.fullName}}</td>
            <td>{{this.priceToPay}}</td>
            <td>
              {{#if this.confirmed}}
              <P class="text-success">Đã xác nhận</P>
              {{else}}
              <P class="text-warning">Đang chờ xác nhận</P>
              {{/if}}
            </td>
            <td>
              <a href="order/detail/{{this.id}}" data-bs-toggle="modal" data-bs-target="#myModal"
                class="btn btn-info btn-sm eLink">Xem chi tiết</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal" data-bs-backdrop="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Chi tiết đơn hàng</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <script src="/js/orders/loadPage_or.js"></script>
  <!-- Bao gồm jQuery từ CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bao gồm Bootstrap JS từ CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>