<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="/css/component/navigation.css" rel="stylesheet">
  <link href="/css/component/breadcrumb.css" rel="stylesheet">
  <link href="/css/pages/banner.css" rel="stylesheet">
  <link href="/css/common/search-form.css" rel="stylesheet">
  <style>
    /* Ẩn checkbox */
    input[type="checkbox"] {
      cursor: not-allowed;
    }

  </style>

</head>

<body>

  <div class="container">
    {{#if successMessage}}
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
    {{/if}}
    {{#if dangerMessage}}
    <div class="alert alert-danger" role="alert">
      {{dangerMessage}}
    </div>
    {{/if}}

    <div id="view-banner" style="display: block;">
      <div id="titles">
        <h5 class="mb-4">Danh sách nội thất</h5>
        <form id="searchForm">
          <input type="text" id="searchInput" placeholder="Nhập từ khóa..." required>
          <input type="image" src="/icons/search.png" alt="Tìm kiếm" id="searchButton">
        </form>
      </div>


      <hr class="mb-4">
      <a href="/product/add-page" class="btn btn-primary eLink float-end mb-4">Thêm nội thất</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-1">STT</th>
            <th class="col-1">Hình ảnh</th>
            <th class="col-1">Tên</th>
            <th class="col-1">Kích thước</th>
            <th class="col-1">Giá</th>
            <th class="col-1">Giảm giá</th>
            <th class="col-1">Kho</th>
            <th class="col-1">Danh mục</th>
            <th class="col-1">Mô tả</th>
            <th class="col-1">Mới</th>
            <th class="col-1">Nổi bật</th>
            <th class="col-1">Tuỳ chọn</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{@index}}</td> <!-- Hiển thị số thứ tự của product type -->
            <td><img src="{{this.imagePr}}" alt="Banner Image" style="max-width: 100px;"></td>
            <td>{{this.namePr}}</td>
            <td>{{this.size}}</td>
            <td>{{this.price}}</td>
            <td>{{this.discount}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.type.nameType}}</td>
            <td>{{this.description}}</td>
            <td><input type="checkbox" {{#if this.isNew}}checked{{/if}} class="checkbox"> </td>

            <td><input type="checkbox" {{#if this.featured}}checked{{/if}} class="checkbox"> </td>

            <td>
              <a href="product/update/{{this._id}}" class="btn btn-warning btn-sm eLink ">Sửa</a>
              <a href="product/delete/{{this._id}}" onclick="return confirmAction(event);"
                class="btn btn-danger btn-sm ">Xoá</a>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>

  </div>

  <script src="/js/products/loadPage_pr.js"></script>
  <script>
    // Lấy tất cả các ô checkbox có class "checkbox"
    var checkboxes = document.querySelectorAll(".checkbox");

    // Thêm sự kiện click cho mỗi ô checkbox
    checkboxes.forEach(function (checkbox) {
      checkbox.addEventListener("click", function (event) {
        // Ngăn chặn hành động mặc định của checkbox
        event.preventDefault();
      });
    });
  </script>

</body>

</html>